/*Bannière et image*/

.banner {
    background: linear-gradient(135deg, #042763,#4f0999);
    font-size: 30px;
    padding : 15px;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}


.banner img {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}

#welcome-message{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: grab;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}


body {
    background-image: url("/info2/site/images/Fond_DP.png");
    background-size: 100%; 
    background-repeat: no-repeat;
    margin: 0;
    background-color: #7C8CF4;
    color:white;
    overflow: hidden;
    background-position: center center; 
    background-attachment: fixed;
}

* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}


button {
    background-color: #5e41a1;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    top:30%;
    transition: all 1s;
}




.day-button:hover {
    transition: all 0.5s ease-in;
    text-decoration: underline;
}

.invisible{
    display:none;
}

.lateralbar {
    position: absolute;
    margin-top: 11.5%;
    left: 83vw;
    height: 100vh;
    width: 10vw;
    
}

.ajouter h2 {
    position: absolute;
    top:50px;
    color: green;
    text-align: center;

}
.aggrandis{
    transform: scale(1.1);
}



.bouton_docteur {
    position: absolute;
    top: 50%;
    right: 5vw;
    left: 73vw;
    transform: translateY(-50%);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 12px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.docteur {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.docteur input[type="button"] {
    font-size: 0.8vw;
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: #3e00a2;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    padding: 0.7vw 1.8vw;


}



.docteur input[type="button"]:hover {
    background-color: #5e41a1;
    transform: scale(1.05);
}


.form-box {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.tab.active {
    background-color: #5e41a1;
    color: white;
    transition: all 1S ; 
}

.tab.inactive {
    background-color: #5e41a1;
    color: white;
    transition: all 1S ; 
}

.tab.active:hover {
    background-color: #7777cd;
    color: black;
  }

.tab.inactive:hover {
    background-color: #7777cd;
    color: black;
  }

.day-button {
    margin: 5px;
    padding: 10px;
    background: #5e41a1;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.day-button.selected {
    background: #7777cd;
}

.hidden {
    display: none;
}

/* Partie Menu Déroulant */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    left: -250px;
    top: 0;
    background-color: #111111a1;
    padding-top: 20px;
    transition: 0.3s;
    z-index: 1;
}

.sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 40px;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #575757c1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}

.menu-icon {
    font-size: 5vh;
    cursor: pointer;
    position: absolute;
    color: white;
    margin-top: 40px;
    margin-left: 50px;
}

.HC {
    width: 55vw;       
    height: auto;    
}