/* Centrage et style de base */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
    color: #000000;
    background-image: url('font_indextest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Conteneur principal */
#form_conn {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);

}

/* Titre */
#form_conn h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Labels et inputs */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Bouton de connexion */
#submit-btn {
    background-color: #2575fc;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
    
}

#mail-btn {
    background-color: #2575fc;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #6a11cb;
}

#mail-btn:hover {
    background-color: #6a11cb;
}

/* Checkbox et lien */
label input[type="checkbox"] {
    margin-right: 5px;
}

.container {
    margin-top: 10px;
    font-size: 12px;
}

.container .lien a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
}

.container .psw a:hover {
    text-decoration: underline;
}
