* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}


#main_cal {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#j {
    position: relative;
    width: 10%;
    height: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}

#datejour {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 10%;
    background-color: #2f4550;
    border-bottom: solid 1px black;
}

#datejour p {
    color: #f4f4f9 ;
}


.horaire {
    width: 100%;
    flex: auto;
    position: relative;
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
}

.heure {
    position: absolute;
    left: calc(-3em);
    font-size: 80%;
}